
/*header  开始*/
#header{
    position: relative;
    background: #f2f2f2;
    border-bottom:2px solid #e4e4e4;
    height: 32px;
    font-size: 12px;
    line-height: 32px;


}


#login-info{
    float: left;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float:left;
    position: relative;
    padding:0 14px;
    height: 35px;

}
#header a,#login-info span{
    color: #999;
}


#login-info a{
   padding:0 14px;
}

#header a:hover{
    color:#FF0036;
}
#login-info .register{
    padding: 0px;
}

#header .triangle::after{/*伪元素选择器: 小三角*/
    content: '';
    border-width: 4px;
    border-style: solid;
    border-top-color: #999999;
    border-bottom-color:transparent ;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 0;
    position:absolute;
    right: 2px;
    top:50%;
    margin-top: -1px;
    transition: none;
    transform-origin:3px 1.5px ;/*图形变化的原点*/


}
#header .icon-gouwuchekong{
    font-size: 12px;
    color: #FF0036;
}
#header .triangle:hover::after{
    transform: rotate(180deg);/*变化元素*/

    /*linener匀速*/
    transition: transform .3s ease;/*要变型的属性：transform + 0.3s过度时间+ 先快后慢*/

}
#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}



#header .triangle:hover{
    background: #ffffff;
    border-color:#e5e5e5;
    cursor: pointer;
}
#header .triangle:hover > a{
    text-decoration: underline;
    color: #FF0036;
}

#header .triangle:hover .submenu{
    display: block;
}
#quick-menu .submenu a:hover{
    text-decoration: underline;
}
#quick-menu .submenu{
    position: absolute;
    top: 32px;
    left:-1px ;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-top-color:transparent ;
    padding: 0 14px;
    display: none;
    background: #ffffff;
}

#quick-menu .split{
    width: 1px;
    height: 14px;
    background:#ccc;
    padding: 0;
    margin: 9px 5px;
}
#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    position: absolute;
    top:28px;
    left: -50px;
    display: none;

    /*阴影 水平距离 垂直距离 外延值 模糊值（非必须） 颜色*/
    box-shadow: 0 0 5px #aaa;
}
#quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f00 transparent;
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: 78px;
}
#quick-menu .moblie:hover .qr-code{
    display: block;
}
/*header 结束*/









/*logo-search开始*/
#logo-search{
    height:100px ;
}
#logo,#search{
    float: left;
}


#logo img{
    width: 240px;
}
#logo{
    margin-top:40px ;
    margin-left: -100px;

}
#search{
    margin-top: 38px;
    margin-left:120px ;
}
#search .search-ipt{
    margin-left: 2px;
    width: 483px;
    height: 26px;
    border: none;
    padding: 4px 3px 0 0;
    /*去掉焦点线*/
    outline: none;
    /*文本缩进*/
    text-indent: 10px;

}


#search .search-box{
    border:2px solid #ff0036;
    height: 36px;
}
#search .search-btn{
    width: 132px;
    height: 36px;
    border: none;
    background: #FF0036;
    color: #ffffff;
    font-size: 18px;
    float: right;
}
#search .hot{
    float: left;
    border-right:1px solid #ccc ;
    padding: 0 12px;
    height: 15px;
    line-height: 15px;
}
#search .hot a{
    color: #999;
    font-size: 12px;
}
#search .hot-query{
    margin-top: 5px;
}
#search .hot-query-highlight a{
    color: #ff0036;

}
#search .last{
    border-right: none;
}


/*logo-search结束*/








/*main-nav开始*/
#main-nav .nav{
    margin-top: 40px;
    margin-left: 200px;
    height: 35px;
}
#main-nav .nav li{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right:15px ;
}

#main-nav .nav-img{
    width: 100px;
}
#main-nav .nav a:hover{
    color: #ff0036;
}
#banner .wrapper {
    height: 500px;
    background:url("../images/background.jpg");
    position: relative;

}
#banner .category-type{
    width: 200px;
    height: 536px;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: -36px;
    left: -70px;


}
#banner .category-type i,span{
    color: #fff;
}
#banner .category-type li{
    height: 36px;
    padding-left: 10px;
    line-height: 36px;



}
#banner{
    background-color:#e8e8e8 ;
    background-position: center;


}
#banner .product-type{
    background-color: #ff0036;
}
/*main-nav结束*/





/*side-bar开始*/
#side-bar{
    width: 35px;
    position: fixed;
    background: #cccccc;
    top: 0;
    bottom: 0;
    right: 0;
}
#side-bar .icon-gouwuchekong{
    margin-top: 100px;
    display: block;
}
#side-bar .side-bar-tab{
    position:relative;
}
#side-bar .vip{
    width: 90px;
    height: 35px;
    background-color: #494949;
    color: #fff;
    position: absolute;
    /*left: -90px;*/
    left: -200px;
    top: -10px;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    opacity: 0;
    transition: all .5s ease;
    /*display: none;*/
}
#side-bar .vip::after{
    content: '';
    border-style:solid ;
    border-color: transparent transparent transparent #494949;
    border-width: 4px;
    height: 0;
    width: 0;
    position: absolute;
    right: -8px;
    top: 14px;

}

#side-bar .side-bar-tab:hover .vip{
    opacity: 1;
    left: -90px;
    /*display: block;*/
}
/*side-bar结束*/


#brand-list .brand{
    width: 122px;
    height: 108px;
    border: 1px solid #ccc;
    position: relative;
}

#brand-list .brand img{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -25px;
    margin-left: -50px;
}
#brand-list .brand:hover .brand-mask{
    opacity: 1;
    cursor: pointer;
}
#brand-list .brand-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity 0.3s ease;

}
#brand-list .coupon{
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
#brand-list .enter{
    width: 63px;
    height:18px;
    color: #fff;
    background-color: #ff0036;
    border-radius: 9px;
    font-size: 12px;
    margin: 10px auto;
}